* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  background-color: #131415;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background-color: #000;
  flex-wrap: wrap;
}
.navbar,
.navbar-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-list {
  gap: 30px;
  color: white;
  position: absolute;
  top: 80px;
  right: 0;
  width: 40%;
  padding: 45px 30px;
  background-color: #000;
  flex-direction: column;
  align-items: flex-start;
  display: none;
}

.navbar-link {
  color: white;
}

.menu-label {
  cursor: pointer;
}

.open-menu {
  display: flex;
  /* transform: rotate(180deg); */
  transition: all 2s linear;
}
.rotate-icon{
    transform: rotate(90deg);
    transition: all 1s linear;
}

.ej-2,
.ej-4,
.ej-cards {
  padding: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#valid-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.ej-2 h2 {
  margin-bottom: 20pjx;
}

.form__field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__field small {
  color: crimson;
  max-width: 350px;
  text-align: center;
  padding: 7px 0;
}

.caja-ej4 {
  padding: 2rem;
}

#cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  width: 300px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  background: white;
  padding: 20px;
  color: #131415;
}

.card-body {
  max-width: 250px;
}

.card-body h3 {
  margin-bottom: 10px;
  padding-bottom: 15px;
  border-bottom: 1px solid #131415;
}
.card-img {
  /* width: 200px; */
  max-height: 350px;
  border-radius: 10px;
}
